In [1]:
import pandas as pd
import numpy as np
np.random.seed(0)
train = pd.read_csv("train.csv")
train = train.drop(['Cabin'],axis=1,inplace=False)
train = train.dropna()
y = train['Survived']
x = train.drop(['Survived','PassengerId','Name','Ticket'],axis=1,inplace=True)
x = pd.get_dummies(train)

In [14]:
##observe whats going on
x.sample(5)

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
714,2,52.0,0,0,13.0000,0,1,0,0,1
635,2,28.0,0,0,13.0000,1,0,0,0,1
120,2,21.0,2,0,73.5000,0,1,0,0,1
591,1,52.0,1,0,78.2667,1,0,1,0,0
687,3,19.0,0,0,10.1708,0,1,0,0,1

In [3]:
from sklearn import tree
dtc=tree.DecisionTreeClassifier()
dtc.fit(x,y)

DecisionTreeClassifier()

In [5]:
test=pd.read_csv("test.csv")
ids=test[['PassengerId']]
test.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace=True)
test.fillna(2,inplace=True)
test=pd.get_dummies(test)

In [7]:
predictions=dtc.predict(test)

In [8]:
result=ids.assign(Survived=predictions)
result.to_csv("titanic-result.csv",index=False)

In [12]:
##observe the outcome data

outcome=pd.read_csv("titanic-result.csv")

outcome.sample(5)

     PassengerId  Survived
103          995         0
141         1033         1
44           936         1
192         1084         1
164         1056         0